.database-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
}

.cloudsql-container,
.database-selector-container {
  width: 48%; /* Adjust as needed */ /* Adjust margin as needed */
}